body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 3.25rem;
  font-weight: 400;
  color: #2f2f2f;
  background-color: #fff;
}

span {
  padding-right: 5%;
}

#work {
  color: #878787;
  font-size: 2.2rem;
}

#about {
  padding-top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

p {
  line-height: 30px;
  text-align: left;
}

a {
  color: #777;
  text-decoration: none;
}

a:hover, .current {
  color: #31708f;
}
